<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    New Post
  </h2>
  <form class="new-post-form">
    <div class="form-title">
        <label>Title</label>
        <input name="post-title" type="text"/>
    </div>
    <div>
        <label>Content</label>
        <input name="post-content" type="text"/>
    </div>
    <button type="submit" id="create-btn">Create Post</button>
  </form>
</article>

<script src="/js/new-post.js"></script>